.wrapper {
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 8px rgb(202, 202, 202);
  z-index: 2;
  background-color: white;
}

.wrapper > div {
  width: 80%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin-right: 2em;
  padding: 10px;
}

@media only screen and (max-width: 991px) {
  .wrapper > div {
    width: 100%;
  }
}
